<div class="col-lg-10 offset-lg-1">
  <div class="top">
    <%= render 'top' %>
  </div>
  <div class="main">
    <div id="boards" class="row">
      <% @boards.each do |board| %>
        <div class="board col-md-4 border card">
        <%= render 'boards/board_index', board: board %>
          <p>
            <%= link_to "Show this board", board, data: { turbo: false } %>
          </p>
        </div >
      <% end %>
      <%= link_to "Boards一覧", boards_path %>
      <%= link_to "Board作成", create_board_path %>
    </div>


    <br>
    <div id="posts" class="row">
      <% @posts.each do |post| %>
        <div class="post col-md-4 border card">
          <%= render post %>
          <p>
            <%= link_to "Show this post", post, data: { turbo: false } %>
          </p>
        </div >
      <% end %>
      <%= link_to "Posts一覧", posts_path %>
      <%= link_to "Post作成", create_post_path %>
    </div>    
  </div> 
</div>