<div class="container-fluid text-center">
  <div class="top">
    <%= render 'top' %>
  </div>
  <div class="main">
    <div class="row">
      <div class="line col">
        <%= image_tag "gosenfu.png", class: "img-fuild" %>
      </div>
    </div>

    <div class="index posts" >
      <div id="posts" class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="show-card">
            <div class="item-detail">
              <%= render 'posts/show', post: @post %>
            </div>
          </div>
        </div>
        <div class="explain col-sm-6 col-xs-12">
        <br>
          <h2>イメソンを紹介しよう</h2>
          <h4>好きな曲とコンテンツを合わせて紹介してみましょう</h4>
          <div class="menu">
                <div class="to-index">
                <h3><%= link_to "みんなのイメソンを見る", posts_path %> </h3>
                </div>
              </div>
                <div class="to-create">
                <h3><%= link_to "紹介してみる", new_song_path(creation_type: 'post') %></h3>
                </div>
        </div>
      </div>  
    </div>  

    <div class="row">
      <div class="line col">
        <%= image_tag "gosenfu.png", class: "img-fuild" %>
      </div>
    </div>

    <div class="index boards" >
      <div id="boards" class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="show-card">
            <div class="item-detail">
              <%= render 'boards/show', board: @board %>
                <!-- 回答エリア -->
              <div class="answers-area">
                <div>
                  回答一覧
                  <%= turbo_frame_tag 'answers' do %>
                    <%= render @board.answers %>
                  <% end %>
                </div>
                <br>
                <div class="create-model">
                  <%= link_to "回答する", contents_new_path(board_id: @board.id, creation_type: 'answer'), data: { turbo: false } %>
                </div>
              </div>
            </div>
          </div>  
        </div>
      <div class="explain col-sm-6 col-xs-12">
        <br>
          <h2>コンテンツを募集しよう</h2>
          <h4>好きな曲を投稿して、コンテンツを募集してみましょう</h4>

        <div class="menu">
            <div class="to-index">
              <h3><%= link_to "回答しに行く", boards_path %> </h3>
            </div>
            <div class="to-create">          
              <h3><%= link_to "募集してみる", new_song_path(creation_type: 'board') %></h3>
            </div>
      </div>

        </div>
      </div>
    </div>

    <br>

  </div> 
</div>