<div class="container-fluid text-center">
  <div class="top">
    <%= render 'top' %>
  </div>
  <div class="main">
    <div class="row">
      <div class="line col">
        <%= image_tag "gosenfu.png", class: "img-fuild" %>
      </div>
    </div>
    <div class="index boards" >
      <div id="boards" class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="show-card">
            <div class="item-detail">
              <%= render 'boards/show', board: @board %>
            </div>
          </div>
        </div>
        <div class="explain col-sm-6 col-xs-12">
          <h2>好きな曲を投稿して、<br>それっぽいコンテンツを教えてもらおう</h2>
          <h4>スレッドを立てて、コンテンツを募集してみましょう</h4>
          <h4>好きな曲や知っている曲が投稿されていたら、<br>それっぽいコンテンツを布教するチャンス！</h4>
        </div>
      </div>
      <div class="menu">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <div class="to-index">
              <h3><%= link_to "スレッドをもっと見る", boards_path %> </h3>
            </div>
          </div>
          <div class="col-sm-6 col-xs-12">
            <div class="to-create">          
              <h3><%= link_to "募集してみる", create_board_path %></h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="index posts" >
    <div class="row">
      <div class="line col">
        <%= image_tag "gosenfu.png", class: "img-fuild" %>
      </div>
    </div>
      <div id="posts" class="row">
        <div class="col-sm-6 col-xs-12">
          <%= render 'posts/show', post: @post %>
        </div>
        <div class="explain col-sm-6 col-xs-12">
          <h2>イメソンを紹介しよう</h2>
          <h4>好きな曲とコンテンツを合わせて紹介してみましょう</h4>
          <h4>自由に布教するチャンス！</h4>
        </div>
      </div>  
      <div class="menu">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <div class="to-index">
            <h3><%= link_to "みんなのイメソンをもっと見る", posts_path %> </h3>
            </div>
          </div>
          <div class="col-sm-6 col-xs-12">
            <div class="to-create">
            <h3><%= link_to "紹介してみる", create_post_path %></h3>
            </div>
          </div>
        </div>
      </div>

    </div>  
  </div> 
</div>