<div class="container-fluid text-center">
  <div class="top">
    <%= render 'top' %>
  </div>
  <div class="main">
    <div class="index boards" >
      <div class="explain">
        <h2>好きな曲を投稿して、それっぽいコンテンツを教えてもらおう</h2>
      </div>
      <h3><%= link_to "スレッドをもっと見る", boards_path %></h3>
      <div id="boards" class="row">
        <% @boards.each do |board| %>
          <div class="board col-md-4 col-sm-6 col-xs-12">
          <div class="card">
          <%= render 'boards/board_index', board: board %>
            <p>
              <%= link_to "このスレッドを開く", board, data: { turbo: false } %>
            </p>
          </div >
          </div>
        <% end %>
        <h3><%= link_to "募集してみる", create_board_path %></h3>
      </div>
    </div>

    <br>

    <div class="index posts" >
      <div class="explain">
        <h2>イメソンを紹介しよう</h2>
      </div>
      <h3><%= link_to "みんなのイメソンを見る", posts_path %></h3>
      <div id="posts" class="row">
        <% @posts.each do |post| %>
          <div class="post col">
            <div class="card">
              <%= render post %>
              <p>
                <%= link_to "このポストを開く", post, data: { turbo: false } %>
              </p>
            </div >
          </div>
        <% end %>
        <h3><%= link_to "紹介してみる", create_post_path %></h3>
      </div>  
    </div>  
  </div> 
</div>