<div class="container">
  <p style="color: green"><%= notice %></p>

  <div class="search-field">
    <%= render 'admin/songs/song_search', url: admin_songs_path, frame_id: 'song' %>
  </div>

  <h1>Posts</h1>
  <div class="pager">
    <%=  paginate @songs, theme: 'twitter-bootstrap-4' %>
  </div>
  <%= turbo_frame_tag 'songs' do %>
    <div id="songs" class="row" >
      <% @songs.each do |song| %>
        <div class="song col-md-4 border">
          <%= render song %>
          <p>
            <%= link_to "Show this song", admin_song_path(song), data: { turbo: false }  %>
          </p>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="pager">
  <%=  paginate @songs, theme: 'twitter-bootstrap-4' %>
  </div>
</div>