<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :"名前", style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :"メールアドレス", style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.file_field :image, accept: 'image/*', class: 'form-control' %>
    <%= form.hidden_field :image_cache %>
  </div>

  <div>
    <%= form.label :"自己紹介", style: "display: block" %>
    <%= form.text_area :introduction %>
  </div>

  <div>
  <%= form.label :"パスワード", style: "display: block" %>
  <%= form.password_field :password %>
</div>

  <div>
  <%= form.label :"パスワード確認", style: "display: block" %>
  <%= form.password_field :password_confirmation %>
  </div>


  <div>
    <%= form.submit class: "btn btn-primary"%>
  </div>
<% end %>
