<header>
<div class="container">
  <nav class='navbar navbar-expand-lg navigation navbar-light'>
    <%= link_to '/', class: 'navbar-brand' do %>
        <%= image_tag 'logo.png', size: '40x40' %>
        ImageSong
      <% end %>
    <button class='navbar-toggler' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav ms-auto main-nav align-items-center'>
        <li class="nav-item user-icon">
          <%= image_tag(@current_user.image.present? ? @current_user.image_url : 'user_default.png', size:"35x35" ) %>
        </li>
        <li class='nav-item dropdown dropdown-slide'>
          <%= link_to @current_user.name, user_path(@current_user), class: 'nav-link dropdown-toggle', data: { bs_toggle: 'dropdown'}, aria: { haspopup: 'true', expanded: 'false'}  %>
          <div class='dropdown-menu dropdown-menu-end'>
            <%= link_to 'プロフィール', profile_path, class: 'dropdown-item' %>
            <%= link_to 'ログアウト', logout_path, class: 'dropdown-item', data: { turbo_method: :delete } %>
          </div>
        </li>
<!--
        <li class='nav-item'>
          <%= link_to '通知', '#', class: 'nav-link' %>
        </li>
        -->

        <li class='nav-item'>
          <%= link_to 'アーティストリスト', artist_lists_users_path, class: 'nav-link' %>
        </li> 
        <li class='nav-item'>
        <%= link_to 'お気に入り', likes_users_path, class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </nav>
</div>
</header>