<div id="<%= dom_id answer %>" class="answer">
  <div class="user-info">
    <%= image_tag(answer.user.image.present? ? answer.user.image_url : 'user_default.png', size: '30x30') %>
    <%= link_to user_path(answer.user), data: {turbo: :false} do %>
      <%= answer.user.name %>
    <% end %>
  </div>
  <div class="content-info">
    <div class="content-title">
            <% case answer.content.contentable_type %>
            <% when "Novel", "Comic" then %>
              <i class="fa-solid fa-book"></i> <%= answer.content.contentable.title %>
            <% when "Anime", "Movie" then%>
              <i class="fa-solid fa-video"></i> <%= answer.content.contentable.title %>
            <% when "Game" then %>
              <i class="fa-solid fa-gamepad"></i></i> <%= answer.content.contentable.title %>
            <% end %>  
    </div>
    <div class="content-author">
      <% if answer.content.contentable.respond_to?(:author) %>
         / <%= answer.content.contentable.author %>
      <% elsif answer.content.contentable.respond_to?(:director) %>
         / <%= answer.content.contentable.director %>
      <% elsif answer.content.contentable.respond_to?(:creator) %>
      <% end %>
    </div>
    <div class="content-category btn btn-outline-secondary btn-sm disabled">
      <%= I18n.t("activerecord.enum.#{answer.content.contentable.class.name.downcase}.category.#{answer.content.contentable.category}") %>
    </div>
    <div class="content-explain">
      <%= answer.body %>
    </div>
  </div>
  <div class="like-button">
    <% if current_user %>
      <% @likeable = answer %>
      <%= render 'likes/like_button' %>
    <% end %>
  </div>
  <div class="edit-delete">
    <%= render 'shared/edit_and_delete', item: answer %>
  </div>
</div>
