<div id="<%= dom_id answer %>" class="answer">
  <div class="user-info">
    <%= image_tag(answer.user.image.present? ? answer.user.image_url : 'user_default.png', size: '40x40') %>
    <%= link_to user_path(answer.user), data: {turbo: :false} do %>
      <%= answer.user.name %>
    <% end %>
  </div>
  <div class="content-info">
    <div class="content-title">
      <strong>作品名:</strong>
      <%= answer.content.contentable.title %>
    </div>
    <div class="content-author">
      <% if answer.content.contentable.respond_to?(:author) %>
      <strong>著者:</strong>
      <%= answer.content.contentable.author %>
      <% elsif answer.content.contentable.respond_to?(:director) %>
      <strong>監督:</strong>
      <%= answer.content.contentable.director %>
      <% end %>
    </div>
    <div class="content-explain">
      <strong>コメント:</strong>
      <%= answer.body %>
    </div>
  </div>
  <div class="like-button">
    <% if current_user %>
      <% @likeable = answer %>
      <%= render 'likes/like_button' %>
    <% end %>
  </div>
  <div class="edit-delete">
    <%= render 'shared/edit_and_delete', item: answer %>
  </div>
</div>
