<div class="col-lg-10 offset-lg-1">
  <h1>New answer</h1>
  <div class="song-info">
    <%= render "songs/song", song: @song %> 
  </div>

  <div class="content-info">
    <% if @comic.present? %>
      <%= render "comics/comic", comic: @comic %> 
    <% end %>
    <% if @novel.present? %>
      <%= render "novels/novel", novel: @novel %> 
    <% end %>
    <% if @movie.present? %>
      <%= render "movies/movie", movie: @movie %> 
    <% end %>
  </div>


  <div class="form">
    <%= render "form", answer: @answer %>
  </div>
  <br>
</div>

