<div class="container">
<div class="show-card">
  <div class="explain">
    <h3>Step.2<br>その曲とどんなふうに合うのか、存分に布教してね</h3>
  </div>
  <br>
  <br>
  <div class="detail d-flex justify-content">
    <div class="row">
      <div class="detail-left col-md-6 col-sm-12 "> 
        <div class="song-info">
          <%= render "songs/song", song: @song %> 
        </div>
      </div>
      <br>
      <div class="detail-right col-md-6 col-sm-12">
      <div class="content-info">
        <% if @comic.present? %>
          <%= render "comics/comic", comic: @comic %> 
        <% end %>
        <% if @novel.present? %>
          <%= render "novels/novel", novel: @novel %> 
        <% end %>
        <% if @movie.present? %>
          <%= render "movies/movie", movie: @movie %> 
        <% end %>
        <% if @anime.present? %>
          <%= render "animes/anime", novel: @anime %> 
        <% end %>
        <% if @game.present? %>
          <%= render "games/game", movie: @game %> 
        <% end %>

      </div>
      <br>
      <div class="form">
        <%= render "form", answer: @answer %>
      </div>
    </div>
  </div>
 </div> 
</div>

