
    <div class="song-title">
    <h2>
      <% if item.song.uri.include?('spotify:track') %> 
        <%= link_to item.song.uri.gsub('spotify:track:', 'https://open.spotify.com/track/'), target: :_blank, rel: "noopener noreferrer" do %>
          <i class="fa-brands fa-spotify"></i><%= item.song.name %>
        <% end %>
      <% elsif item.song.uri.include?('http') %>
        <%= link_to item.song.uri, target: :_blank, rel: "noopener noreferrer" do %>
          <i class="fa-solid fa-globe"></i><%= item.song.name %>
        <% end%>
      <% else %>
        <%= link_to "https://www.youtube.com/watch?v=#{item.song.uri}", target: :_blank, rel: "noopener noreferrer" do %>
          <i class="fa-brands fa-youtube"></i><%= item.song.name %>
        <% end %>
      <% end %>  
    </div>  
    </h2>



    <div class="artist" style="display: flex;">
      <h3> / <%= item.song.artist.name %>   </h3>
      <div class="artist-list-in-button">
        <%= turbo_frame_tag "artist-#{item.song.artist.id}" do %>
          <% if current_user %>
            <%= render 'artist_lists/list_in_button', item: item, artist: item.song.artist %>   
          <% end %>
        <% end %>
      </div>
    </div>



