    <div class="song-infomation">
      <h4><% if song.uri.include?('spotify:track') %> 
        <%= link_to song.uri.gsub('spotify:track:', 'https://open.spotify.com/track/'), target: :_blank, rel: "noopener noreferrer" do %>
          <i class="fa-brands fa-spotify"></i><%= song.name %>
        <% end %>
      <% elsif song.uri.include?('http') %>
        <%= link_to song.uri, target: :_blank, rel: "noopener noreferrer" do %>
          <i class="fa-solid fa-globe"></i><%= song.name %>
        <% end%>
      <% else %>
        <%= link_to "https://www.youtube.com/watch?v=#{song.uri}", target: :_blank, rel: "noopener noreferrer" do %>
          <i class="fa-brands fa-youtube"></i><%= song.name %>
        <% end %>
      <% end %>  
      /
      <%= song.artist.name %></h4>
    </div>  

    <br>
    <br>
    <br>
    <div class="song-image song-image-size">
      <%= image_tag song.image %>
      <br>
      <br>
    </div>
  