<div id="<%= dom_id answer %>">
  <%= image_tag(answer.user.image.present? ? answer.user.image_url : 'user_default.png') %>
  <%= link_to admin_user_path(answer.user), data: {turbo: :false} do %>
    <%= answer.user.name %>
  <% end %>

  <div class="content-info">
    <div class="content-title">
      <strong>Content-Title:</strong>
      <%= answer.content.contentable.title %>
      <% if answer.content.contentable.respond_to?(:author) %>
      <strong>Author:</strong>
      <%= answer.content.contentable.author %>
      <% elsif answer.content.contentable.respond_to?(:director) %>
      <strong>Director:</strong>
      <%= answer.content.contentable.director %>
      <% end %>
    </div>
    <div class="content-explain">
      <%= answer.body %>
    </div>
  </div>
  <%= render 'admin/shared/edit_and_delete', item: answer %>
</div>
