
  <div class="searching_game">
    <%= form_with(model: Game.new, data: { turbo: false }) do |form| %>
      <div class="mb-3">
      <%= form.label :"作品タイトル", class: "form-label" %> 
      <%= form.text_field :title, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= form.label :"制作会社", class: "form-label" %> 
      <%= form.text_field :creator, class: "form-control", placeholder: "空欄OK" %>
    </div>

    <div class="mb-3">
      <%= form.label :"ジャンル", class: "form-label" %> 
      <%= form.select :category, Game.categories.keys.map { |c| [c, c] }, {}, class: "form-control" %>
    </div>
    <%= form.submit "保存", class: "btn btn-primary", data: { disable_with: '取得' }%>
    <% end %>
  </div>
