
  <div class="searching_anime">
    <%= form_with(model: Anime.new, data: { turbo: false }) do |form| %>
      <div class="mb-3">
      <%= form.label :title, class: "form-label" %> 
      <%= form.text_field :title, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= form.label :creator, class: "form-label" %> 
      <%= form.text_field :creator, class: "form-control", placeholder: "空欄OK" %>
    </div>

    <div class="mb-3">
      <%= form.label :category, class: "form-label" %> 
      <%= form.select :category, Anime.categories.keys.map { |c| [I18n.t("activerecord.enum.anime.category.#{c}"), c] }, {}, class: "form-control" %>
    </div>
    <%= form.submit I18n.t('helpers.submit.save'), class: "btn btn-primary", data: { disable_with: I18n.t('helpers.submit.get') }%>
    <% end %>
  </div>
