<div id="<%= dom_id board %>">

  <div class="user">
    <strong>作成者</strong>
    <%= image_tag (board.user.image.present? ? board.user.image_url : 'user_default.jpg'), size: '40x40' %>
    <%= link_to user_path(board.user), data: {turbo: :false} do %>
      <%= board.user.name %>
    <% end %>

  </div>
  <div class="song-info">
    <%= render 'songs/song_info', item: board %>
  </div>

  <div class="board-info">
    <div class="board-title">
      <strong>Title:</strong>
      <%= board.title %>
    </div>

    <div class="board-body">
      <strong>Body:</strong>
      <%= board.body %>
    </div>
  </div>

  <div class="like-button">
    <% if current_user %>
      <% @likeable = board %>
      <%= render 'likes/like_button' %>
    <% end %>
  </div>
  <div class="twitter">
    <%= link_to "https://twitter.com/share?url=#{board_url(board)}&text=【投稿しました】%0a%0a#{board.title}", target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア" do %>
      <i class="fab fa-twitter"></i>
    <% end %>
  </div>

  <%= render 'shared/edit_and_delete', item: board %>
</div>
