<div id="<%= dom_id board %>">
  <div class="status">
    <% if current_user && current_user.own?(board) && board.status == "open" %>
    <%= link_to board.status, '#', class: 'nav-link dropdown-toggle', data: { bs_toggle: 'dropdown'}, aria: { haspopup: 'true'}, aria: { expanded: 'false'}  %>
      <div class='dropdown-menu dropdown-menu-end'>
        <%= link_to t('boards.show.change_status'), change_status_board_path(board), data: {turbo_method: :post} , class: 'dropdown-item' %>
      </div>
    <% else %>
      <%= board.status %>
    <% end %>
  </div>
  <div class="detail d-flex justify-content">
    <div class="detail-left col-4">
      <div class="song-info">
        <%= render 'songs/song_info', item: board %>
      </div>
    </div>
    <div class="detail-right col-8">
      <div class="user">
        <strong>作成者</strong>
        <%= image_tag (board.user.image.present? ? board.user.image_url : 'user_default.png'), size: '40x40' %>
        <%= link_to user_path(board.user), data: {turbo: :false} do %>
          <%= board.user.name %>
        <% end %>
      </div>
      <div class="board-info">
        <div class="board-title">
          <strong>Title:</strong>
          <%= board.title %>
        </div>

        <div class="board-body">
          <strong>Body:</strong>
          <%= board.body %>
        </div>
      </div>
    </div>
  </div>
  <div class="like-button">
    <% if current_user %>
      <% @likeable = board %>
      <%= render 'likes/like_button' %>
    <% end %>
  </div>
  <div class="twitter">
    <%= link_to "https://twitter.com/share?url=#{board_url(board)}&text=【投稿しました】%0a%0a#{board.title}", target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア" do %>
      <i class="fab fa-twitter"></i>
    <% end %>
  </div>

  <%= render 'shared/edit_and_delete', item: board %>
</div>
