<div id="<%= dom_id board %>">
  <div class="song-info">
    <%= render 'songs/song_info', item: board %>
  </div>

  <div class="board-info">
    <div class="board-title">
      <strong>Title:</strong>
      <%= board.title %>
    </div>

    <div class="board-content">
      <strong>Content:</strong>
      <%= board.content %>
    </div>
  </div>

  <div class="like_button">
    <% if current_user %>
      <% @likeable = board %>
      <%= render 'likes/like_button' %>
    <% end %>
  </div>
</div>
