<div id="<%= dom_id board %>">

<p>
<strong>Song_title:</strong>
<% if board.song.uri.include?('spotify:track') %> 
  <%= link_to board.song.uri.gsub('spotify:track:', 'https://open.spotify.com/track/'), target: :_blank, rel: "noopener noreferrer" do %>
    <i class="fa-brands fa-spotify"></i><%= board.song.name %>
  <% end %>
<% elsif board.song.uri.include?('http') %>
  <%= link_to board.song.uri, target: :_blank, rel: "noopener noreferrer" do %>
    <i class="fa-solid fa-globe"></i><%= board.song.name %>
  <% end%>
<% else %>
  <%= link_to "https://www.youtube.com/watch?v=#{board.song.uri}", target: :_blank, rel: "noopener noreferrer" do %>
    <i class="fa-brands fa-youtube"></i><%= board.song.name %>
  <% end %>
<% end %>  
</p>

<p>
  <strong>Artist:</strong>
  <%= board.song.artist.name %>
</p>

<p>
<strong>Song_image:</strong>
<%= image_tag board.song.image %>
</p>
<p>
  <strong>Title:</strong>
  <%= board.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= board.content %>
</p>

<p>

  <% @likeable = board %>
  <%= render 'likes/like_button' %>
</p>
</div>
