<div id="<%= dom_id board %>" >
<!-- ã¤ã‘ã‚‹ã‹ã‚‚
  <div class="status">
    <% if current_user && current_user.own?(board) && board.status == "open" %>
    <%= link_to board.status, '#', class: 'nav-link dropdown-toggle', data: { bs_toggle: 'dropdown'}, aria: { haspopup: 'true'}, aria: { expanded: 'false'}  %>
      <div class='dropdown-menu dropdown-menu-end'>
        <%= link_to t('boards.show.change_status'), change_status_board_path(board), data: {turbo_method: :post} , class: 'dropdown-item' %>
      </div>
    <% else %>
      <%= board.status %>
    <% end %>
  </div>
  -->
  <div class="detail d-flex justify-content">
    <div class="detail-left col-4">
      <div class="song-image" id="board_song_image">
        <%= image_tag board.song.image %>
      </div>
    </div>

    <div class="detail-right col-8">
      <div class="song-info" id="board_song_info">
        <%= render 'songs/song_info', item: board %>
      </div>
<br>
      <div class="board-info">
      <div class="user" id="board_user">
        <%= image_tag (board.user.image.present? ? board.user.image_url : 'user_default.png'), size: '30x30' %>
        <%= link_to user_path(board.user), data: {turbo: :false} do %>
          <%= board.user.name %>
        <% end %>
      </div>
<br>
        <div class="board-body" id="board_body">
          <%= board.body %>
        </div>
      </div>
    </div>
  </div>
  <div class='like-and-share d-flex justify-content-end'>
    <div class="like-button">
      <% if current_user %>
        <% @likeable = board %>
        <%= render 'likes/like_button' %>
      <% end %>
    </div>
  <div class="twitter">
    <%= link_to "https://twitter.com/share?url=#{board_url(board)}&text=ã€ãŠã—ãˆã¦ï¼ã€‘%0a ðŸŽµ#{board.song.name} / #{board.song.artist.name}ã¨åˆã†ã‚³ãƒ³ãƒ†ãƒ³ãƒ„ã¯ï¼ŸðŸ“šðŸŽ¥", target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "Xã§ã‚·ã‚§ã‚¢" do %>
      <i class="fab fa-twitter"></i>
    <% end %>
  </div>
  </div>
  <div class="edit-delete">
    <%= render 'shared/edit_and_delete', item: board %>
  </div>
</div>
