<div id="<%= dom_id board %>">

  <div class="user">
    <strong>作成者</strong>
    <%= board.user.name %>
  </div>
  <div class="song-info">
    <%= render 'songs/song_info', item: board %>
  </div>

  <div class="board-info">
    <div class="board-title">
      <strong>Title:</strong>
      <%= board.title %>
    </div>

    <div class="board-body">
      <strong>Body:</strong>
      <%= board.body %>
    </div>
  </div>

  <div class="like_button">
    <% if current_user %>
      <% @likeable = board %>
      <%= render 'likes/like_button' %>
    <% end %>
  </div>


</div>
