<div class="col-lg-10 offset-lg-1">
  <p style="color: green"><%= notice %></p>

  <div class="search-field">
    <%= render 'shared/search', url: boards_path, frame_id: 'boards' %>
  </div>

  <%= t('.title') %>
  <div class="pager">
    <%=  paginate @boards, theme: 'twitter-bootstrap-4' %>
  </div>

  <%= turbo_frame_tag 'boards' do %>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div id="boards" class="row">
            <% @boards.each do |board| %>
              <div class="col-lg-4">
                <div class="board border card">
                  <%= render 'board_index', board: board %>
                  <p>
                    <%= link_to t("helpers.defaults.show"), board, data: { turbo: false } %>
                  </p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="pager">
  <%=  paginate @boards, theme: 'twitter-bootstrap-4' %>
  </div>
  <div class="create-model">
    <%= link_to t('helpers.defaults.create'), create_board_path %>
  </div>
</div>