<div class="container">
  <p style="color: green"><%= notice %></p>

  <div class="search-field">
    <%= render 'shared/search', frame_id: 'boards' %>
  </div>

  <h1>Boards</h1>
  <div class="pager">
    <%=  paginate @boards, theme: 'twitter-bootstrap-4' %>
  </div>
 
  <%= turbo_frame_tag 'boards' do %>
    <div id="boards">
      <% @boards.each do |board| %>
        <%= render board %>
        <p>
          <%= link_to "Show this board", board, data: { turbo: false } %>
        </p>
      <% end %>
    </div>
  <% end %>
  

  <div class="pager">
  <%=  paginate @boards, theme: 'twitter-bootstrap-4' %>
  </div>
  <div class="create-model">
    <%= link_to "New board", create_board_path %>
  </div>
</div>