<div class="container-fluid text-center">
  <div class="main">
  <p style="color: green"><%= notice %></p>

  <div class="search-field">
    <%= render 'shared/search', url: boards_path, frame_id: 'boards' %>
  </div>

  <%= t('.title') %>
  <div class="pager">
    <%=  paginate @boards, theme: 'twitter-bootstrap-4' %>
  </div>

  <div class="to-create">
    <h3><%= link_to "スレッドを立てる", create_board_path %></h3>
  </div>
  <div class="index boards" >
  <%= turbo_frame_tag 'boards' do %>
    <div id="boards" class="row">
      <% @boards.each do |board| %>
        <div class="board col-md-4 col-sm-6 col-xs-12">
          <div class="card">
            <%= render 'board_index', board: board %>
            <p>
              <%= link_to "このスレッドを開く", board, class: "btn btn-secondary", data: { turbo: false } %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  </div>
  <div class="pager">
  <%=  paginate @boards, theme: 'twitter-bootstrap-4' %>
  </div>
  </div>
</div>