<div id="<%= dom_id post %>">

  <div class="user">
    <div class="content-title">
      <strong>Title:</strong>
      <%= post.title %>
    </div>
    <strong>作成者</strong>
    <%= image_tag (post.user.image.present? ? post.user.image_url : 'user_default.jpg'), size: '40x40' %>
    <%= post.user.name %>
  </div>

  <div class="song-info">
    <%= render 'songs/song_info', item: post %>
  </div>

  <div class="content-info">
    <div class="content-title">
      <strong>Content-Title:</strong>
      <%= post.content.contentable.title %>
      <% if post.content.contentable.respond_to?(:author) %>
      <strong>Author:</strong>
      <%= post.content.contentable.author %>
      <% elsif post.content.contentable.respond_to?(:director) %>
      <strong>Director:</strong>
      <%= post.content.contentable.director %>
      <% end %>
    </div>

  
    <div class="content-explain">
        <strong>Body:</strong>
        <%= post.body %>
    </div>
  </div>

  <div class="like-button">
    <% if current_user %>
      <% @likeable = post %>
      <%= render 'likes/like_button' %>
    <% end %>
  </div>

  <div class="twitter">
    <%= link_to "https://twitter.com/share?url=#{post_url(post)}&text=【投稿しました】%0a%0a#{post.title}", target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア" do %>
      <i class="fab fa-twitter"></i>
    <% end %>
  </div>
</div>
