<div id="<%= dom_id post %>">
  <div class="song-info">
    <%= render 'songs/song_info', item: post %>
  </div>

  <div class="content-info">
    <div class="content-title">
      <strong>Title:</strong>
      <%= post.title %>
    </div>
  
    <div class="content-explain">
        <strong>Content:</strong>
        <%= post.content %>
    </div>
  </div>

  <div class="like_button">
    <% if current_user %>
      <% @likeable = post %>
      <%= render 'likes/like_button' %>
    <% end %>
  </div>
</div>
