<div id="<%= dom_id post %>">
  <br>
    <div class="song-image song-image-size">
      <%= image_tag post.song.image %>
    </div>

    <div class="song-infomation">
      <% if post.song.uri.include?('spotify:track') %> 
        <i class="fa-brands fa-spotify"></i><%= post.song.name %> / <%= post.song.artist.name %>
      <% else %>
        <%= post.song.name %> / <%= post.song.artist.name %>
      <% end %>
    </div>
    <br>
</div>
