<div class="container-fluid text-center">
  <div class="main">
    <div class="search-field">
      <%= render 'shared/search', url: posts_path, frame_id: 'posts' %>
    </div>
    <br>
    <div class="to-create">
      <h3><%= link_to "イメソンを投稿する", new_song_path(creation_type: 'post') %></h3>
    </div>
    <div class="index posts" >
    <%= turbo_frame_tag 'posts' do %>
      <div id="posts" class="row">
        <% @posts.each do |post| %>
          <%= link_to post, data: { turbo: false }, class: "item col-md-4 col-sm-6 col-xs-12" do %>
              <div class="card">
                <%= render 'post_index', post: post %>
              </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
    </div>
    <div class="pager">
    <%=  paginate @posts, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>