<div class="container">
  <p style="color: green"><%= notice %></p>

  <div class="search-field">
    <%= render 'shared/search', url: posts_path, frame_id: 'posts' %>
  </div>

  <%= t('.title') %>
  <div class="pager">
    <%=  paginate @posts, theme: 'twitter-bootstrap-4' %>
  </div>
  <%= turbo_frame_tag 'posts' do %>
    <div id="posts" class="row" >
      <% @posts.each do |post| %>
        <div class="post col-md-4 border">
          <%= render post %>
          <p>
            <%= link_to t("helpers.defaults.show"), post, data: { turbo: false }  %>
          </p>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="pager">
  <%=  paginate @posts, theme: 'twitter-bootstrap-4' %>
  </div>

  <div class="create-model">
    <%= link_to t('helpers.defaults.create'), create_post_path %>
  </div>
</div>