<div class="container">
  <p style="color: green"><%= notice %></p>

  <div class="search-field">
    <%= render 'shared/search', url: posts_path, frame_id: 'posts' %>
  </div>

  <h1>Posts</h1>
  <div class="pager">
  <%=  paginate @posts, theme: 'twitter-bootstrap-4' %>
  </div>
<%= turbo_frame_tag 'posts' do %>
  <div id="posts">
    <% @posts.each do |post| %>
      <%= render post %>
      <p>
        <%= link_to "Show this post", post, data: { turbo: false }  %>
      </p>
    <% end %>
  </div>
<% end %>

  <div class="pager">
  <%=  paginate @posts, theme: 'twitter-bootstrap-4' %>
  </div>

  <div class="create-model">
    <%= link_to "New post", create_post_path %>
  </div>
</div>