<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
  <div class="position-sticky pt-3 sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <%= link_to admin_users_path, class: 'nav-link' do %>
          <i class="bi bi-file-earmark"></i>
          <%= "Userのこと" %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to admin_boards_path, class: 'nav-link' do %>
          <i class="bi bi-person"></i>
          <%= "Boardのこと" %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to admin_answers_path, class: 'nav-link' do %>
          <i class="bi bi-file-earmark"></i>
          <%= "Answerのこと" %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to admin_posts_path, class: 'nav-link' do %>
          <i class="bi bi-file-earmark"></i>
          <%= "Postのこと" %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to admin_songs_path, class: 'nav-link' do %>
          <i class="bi bi-file-earmark"></i>
          <%= "Songのこと" %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to admin_artists_path, class: 'nav-link' do %>
          <i class="bi bi-file-earmark"></i>
          <%= "Artistのこと" %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to admin_comics_path, class: 'nav-link' do %>
          <i class="bi bi-file-earmark"></i>
          <%= "Comicのこと" %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to admin_novels_path, class: 'nav-link' do %>
          <i class="bi bi-file-earmark"></i>
          <%= "Novelのこと" %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to admin_movies_path, class: 'nav-link' do %>
          <i class="bi bi-file-earmark"></i>
          <%= "Moiveのこと" %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to admin_animes_path, class: 'nav-link' do %>
          <i class="bi bi-file-earmark"></i>
          <%= "Animeのこと" %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to admin_games_path, class: 'nav-link' do %>
          <i class="bi bi-file-earmark"></i>
          <%= "Gameのこと" %>
        <% end %>
      </li>






    </ul>
  </div>
</nav>