<div class="container">
  <p style="color: green"><%= notice %></p>

  <div class="search-field">
    <%= render 'admin/comics/comic_search', url: admin_comics_path, frame_id: 'comic' %>
  </div>

  <h1>Posts</h1>
  <div class="pager">
    <%=  paginate @comics, theme: 'twitter-bootstrap-4' %>
  </div>
  <%= turbo_frame_tag 'comics' do %>
    <div id="comics" class="row" >
      <% @comics.each do |comic| %>
        <div class="comic col-md-4 border">
          <%= render comic %>
          <p>
            <%= link_to "Show this comic", admin_comic_path(comic), data: { turbo: false }  %>
          </p>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="pager">
  <%=  paginate @comics, theme: 'twitter-bootstrap-4' %>
  </div>
</div>